
@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('font/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Inter-Regular.woff2') format('woff2'),
        url('font/Inter-Regular.woff') format('woff'),
        url('font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo_img img{
	    text-align: center;
    margin: auto;
    display: block;
    margin-top: 91px;
    opacity: 0.5;
}
.central_bl{
	//position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
}
.central_bl p{
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 21px;
letter-spacing: -0.05em;
text-align: center;

margin-bottom: 40px;
}
.button_bl{
	    display: flex;
    justify-content: center;
}
.button_bl a{
    font-family: Inter;
width: 46px;
height: 19px;
padding: 2px;
border: 1px solid white;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: rgb(26, 32, 36);
    text-decoration: none;
}
.button_bl a:hover{
 border: 1px solid #000000;
 padding: 2px;

}
.button_bl a:active{
 border: 1px solid #000000;
 padding: 2px;
color: #FFF;
background: rgb(0, 0, 0);
}
.footer_bl p{
color: rgb(176, 186, 191);
font-family: Inter;
font-size: 10px;
font-weight: 500;
line-height: 12px;
letter-spacing: -5%;
text-align: center;
    //position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
@media only screen and (max-width: 450px) {
.footer_bl p {
     bottom: 20px;
  }
  .central_bl p{
    line-height: 20px;
    font-size: 16px;
    padding: 0px 30px;
    margin-bottom: 32px;
  }
  .logo_img img{
    margin-top: 16px;
  }
}
